
./wheels/streamlit-1.51.0-py3-none-any.whl
./wheels/strictyaml-1.7.3-py3-none-any.whl
./wheels/ruamel.yaml-0.19.1-py3-none-any.whl
snowflake-snowpark-python>=1.10.0
snowflake-connector-python>=3.0.

